*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7 )),url(Images/Trebah.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 4% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #289ccd;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color:  #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 35px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(235, 21, 160);
    background: #b6f517;
    transition: 2s;
    color: #000;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    } 
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:#b6f517;
        color:  #000;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*--------about----------*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 35px;
    font-weight: 600;
}
p{
    color: rgb(5, 3, 3);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 31%;
    background: rgb(24, 216, 88);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}
h3{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}
@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

/*---------resume---------*/
.resume{
    font-size: 40px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.resume-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.resume-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%; 
  
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(49,231,210,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Trebah.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sub-header h1{
    color: #fff;
}
.sub-header p{
    color: #fff;
}
.sub-header{
    margin-top: 0%;
}

.sub-headertwo{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Trebah.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-headertwo h1{
    color: #fff;
}
.sub-headertwo p{
    color: #fff;
}

/*------Referances------*/
.referances h1{
    text-align: center;
}
.referances{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.referances-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.referances-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%; 
}
.contact{
    
    font-size: 40px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

/*------Footer----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
